.animal-container {
  display: flex;
}
.animal-container :nth-child(1) {
  width: 50%;
  height: 100vh;
  background-position: center;
}
.animal-container :nth-child(2) {
  width: 50%;
  height: 100vh;
  background-position: center;
}
