@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  text-align: center;
  color: #fff;
  font-family: 'Dosis', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(30, 30, 30);
}

header,
footer,
main {
  padding: 2rem;
  text-align: center;
}
